@import url("https://fonts.googleapis.com/css2?family=Fira+Sans&display=swap");

@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@300&display=swap');

* {
  margin: 0;
  padding: 0;
}

.sidebar {
  background-color: rgb(160, 159, 159);
  width: 10vw;
  font-family: "Fira Sans", sans-serif;
  height: 100vh;
}

.sidebar nav {
  padding: 45px;
}

.sidebar nav li {
  list-style: none;
  font-size: 30px;
  padding: 33px 0;
  }

  .sidebar nav li a{
    text-decoration: none;
    color: black;
  }

.main {
  /* background-color: yellow; */
  width: 90vw;
}

.container {
  display: flex;
}

.infoContainer{
    /* background-color: blue; */
    height: 58vh;
    width: 80vw;
    margin: 144px auto;
    display: flex;
    justify-content: space-around;
}
.devInfo{
    display: flex;
    justify-content: center;
    flex-direction: column;
    font-family: 'Source Code Pro', monospace;
}

.hello{
font-size: 65px;

}

.name{
font-size: 50px;
font-weight: bold;
font-family: "Fira Sans", sans-serif;
}

.about{
font-size: 40px;
}

.moreAbout{
    font-size: 22px;
font-family: "Fira Sans", sans-serif;

}

.button{
    margin-top: 34px;
}

.button button{
    padding: 9px 14px;
    border-radius: 22px;
    color: white;
    background-color: dodgerblue;
    font-weight: bold;
    font-size: 21px;
    margin: 0 3px;
    cursor: pointer;
}

.button button:hover{
    background-color: white;
    color: dodgerblue;
}

.devPic img{
  height: 58vh;;
}

