@import url("https://fonts.googleapis.com/css2?family=Fira+Sans&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@300&display=swap");

* {
  margin: 0;
  padding: 0;
}

.sidebar {
  background-color: rgb(233, 218, 218);
  width: 434px;
  font-family: "Fira Sans", sans-serif;
  height: 100vh;
}

.sidebar nav {
  padding: 45px;
}

.sidebar nav li {
  list-style: none;
  font-size: 30px;
  padding: 33px 0;
}

.sidebar nav li a {
  text-decoration: none;
  color: black;
}

.main {
  /* background-color: yellow; */
  width: 90vw;
}

.container {
  display: flex;
}

.infoContainer {
  /* background-color: blue; */
  height: 58vh;
  width: 80vw;
  margin: 144px auto;
  display: flex;
  justify-content: space-around;
}
.devInfo {
  display: flex;
  justify-content: center;
  flex-direction: column;
  font-family: "Source Code Pro", monospace;
}

.hello {
  font-size: 65px;
}

.name {
  font-size: 50px;
  font-weight: bold;
  font-family: "Fira Sans", sans-serif;
}

.about {
  font-size: 40px;
}

.moreAbout {
  font-size: 22px;
  font-family: "Fira Sans", sans-serif;
  margin-top: 23px;
}

.buttons {
  margin-top: 34px;
}

.btn {
  padding: 9px 14px;
  border-radius: 22px;
  color: white;
  background-color: dodgerblue;
  font-weight: bold;
  font-size: 21px;
  margin: 0 3px;
  cursor: pointer;
}

.btn-sm {
  font-size: 14px;
  padding: 10px 19px;
  margin: 12px 0;
}

.btn:hover {
  background-color: white;
  color: dodgerblue;
}

.devPic img {
  height: 58vh;
}

/* contect me style start */
.contectform {
  padding: 0 34px;
  padding-top: 144px;
  font-family: "Fira Sans", sans-serif;
}
.contectform h1 {
  font-family: "Source Code Pro", monospace;
  padding: 12px 0;
}

.contectform form div {
  padding: 10px 0;
  display: flex;
  flex-direction: column;
}
.contectform form div input {
  width: 26vw;
  border-radius: 5px;
  margin: 6p 0 0 0;
  padding: 3px;
}

#emailHelp {
  font-size: 11px;
  color: midnightblue;
  margin: 0 5px;
  padding: 3px 0 0 0;
}

#form-check {
  flex-direction: row;
}
#form-check input {
  width: 24px;
  margin: 3px 0;
}
/* contect me style end */
